// SASS global variables
$sans-font: "Roboto", sans-serif;
$serif-font: "Playfair Display", serif;
$mint-green: #c7eae4ff;
$celadon: #a7e8bdff;
$melon: #fcbcb8ff;
$melon-2: #efa7a7ff;
$jasmine: #ffd972ff;
